<div id="style-switcher" class="bg-light border p-3 pt-2 pb-2" onclick="toggleSwitcher()">
  <div>
    <h6 class="color-scheme-title text-center font-weight-bolder mb-2">Select your color</h6>
    <ul class="pattern text-center mb-0">
      <li class="list-inline-item">
        <a class="default" href="javascript: void(0);" onclick="setColor('default')"></a>
      </li>
      <li class="list-inline-item">
        <a class="blue" href="javascript: void(0);" onclick="setColor('red')"></a>
      </li>
      <li class="list-inline-item">
        <a class="green" href="javascript: void(0);" onclick="setColor('green')"></a>
      </li>
      <li class="list-inline-item">
        <a class="mosaic-blue" href="javascript: void(0);" onclick="setColor('mosaic-blue')"></a>
      </li>
      <li class="list-inline-item">
        <a class="light-yellow" href="javascript: void(0);" onclick="setColor('light-yellow')"></a>
      </li>
      <li class="list-inline-item">
        <a class="purple" href="javascript: void(0);" onclick="setColor('purple')"></a>
      </li>
    </ul>
    <div class="bottom">
      <a href="javascript: void(0);" class="settings bg-white shadow d-block"><i class="mdi mdi-settings mdi-24px position-absolute mdi-spin text-primary"></i></a>
    </div>
  </div>
</div>
