<!-- Client Start -->
<section class="section fan-fact" style="background-image:url('images/bg-pattern.png')" id="about">
    <div class="container">
        <div class="row" id="counter">
            {{ range index .}}
                <div class="col-lg-3 col-6 my-3">
                    <div class="card counter-box border-0 shadow text-center rounded py-3">
                        <div class="card-body py-5">
                            {{ if .primaryText.targetValue.enableCounter }}
                                <h2 class="mb-0"><span class="counter-value" data-target="{{.primaryText.targetValue.value}}">{{.primaryText.targetValue.valueIncrement}}</span>{{.primaryText.targetValue.valueUnit}}</h2>
                            {{ else }}
                                <h2 class="mb-0">{{printf .primaryText.alternativeText}}</h2>
                            {{ end }}
                            <h5 class="counter-head mb-0">{{printf .secondaryText}}</h5>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div><!--end row-->
    </div><!--end container-->
</section>
<!-- End Section Client -->