<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card public-profile border-0 rounded shadow no-margin" style="z-index: 1;">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-4 text-md-start">
                                <div class="about-details key-feature bg-light">
                                    <div class="media-body content">
                                        <h6 class="title mb-2">{{ .personalDetails.title }}</h6>
                                        <div class="bor-bottom mt-2 mb-2"></div>
                                        {{ range .personalDetails.detailsLits }}
                                            <p class="text-muted mb-2 mt-3 font-14"><a href="javascript:void(0)" class="text-black">{{ .label }}: </a> {{ .value }}</p> 
                                        {{ end }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-md-8">
                                <div class="row align-items-end">
                                    <div class="col-md-12 text-md-start mt-4 mt-sm-0">
                                        <h4 class="heading me-2">I Am <span class="element text-primary" data-elements="{{ .presentation.professions }}"></span>
                                            <span id="typed" class="text-primary"></span>
                                        </h4>
                                        <p class="text-light-muted mt-2">{{ .presentation.introduction }}</p>
                                        {{ if ne .presentation.signature ""}}
                                            <img src="images/signature.png" height="35" alt="">
                                        {{ end }}
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section -->