<!-- Start Section -->
<section class="section" id="resume">
    <div class="container">

        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4">
                <div class="work-content mt-4">
                    <h2 class="text-capitalize">Work  Participation</h2>
                    <p class="mb-0 text-light-muted">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                    <a href="#" class="btn btn btn-primary rounded mt-4 pt-2">See More <i class="mdi mdi-chevron-right"></i></a>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="main-timeline">
                        <div class="timeline mt-4">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon text-primary">
                                    <i data-feather="feather" class="fea icon-md"></i>
                                </div>
                                <h3 class="title mb-0">UX Designer</h3>
                                <small class="company">Vivo - Senior Designer</small>
                                <span class="badge skill-badge education-badge badge-light">2015 - 2018</span>
                                <p class="description text-light-muted mt-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum
                                </p>
                            </a>
                        </div>
                        <div class="timeline mt-4">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon text-primary">
                                    <i data-feather="navigation" class="fea icon-md"></i>
                                </div>
                                <h3 class="title mb-0">Web Developer</h3>
                                <small class="company">Oppo - HR Manager</small>
                                <span class="badge skill-badge education-badge margin-50 badge-light">2012 - 2015</span>
                                <p class="description text-light-muted mt-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum
                                </p>
                            </a>
                        </div>
                        <div class="timeline mt-4">
                            <a href="#" class="timeline-content">
                                <div class="timeline-icon text-primary">
                                    <i data-feather="package" class="fea icon-md"></i>
                                </div>
                                <h3 class="title mb-0">Graphic Designer</h3>
                                <small class="company">Apple - Testor</small>
                                <span class="badge skill-badge education-badge badge-light">2012 - 2010</span>
                                <p class="description text-light-muted mt-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end container -->
</section><!-- end section -->