<!-- Service Start -->
<section class="section bg-light" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="container-title text-center mb-4 pb-2">
                    <div class="titles">
                        <h2 class="title text-capitalize mb-4">Awesome Service</h2>
                        <p class="pera-title para-desc-600 text-light-muted mb-0 mx-auto">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                        <span></span>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="feature-widget text-left rounded">
                    <div class="services-icon text-primary mb-3">
                        <i data-feather="monitor" class="fea icon-md"></i>
                    </div>
                    <div class="services-texts">
                        <h3 class="title mb-3">Web Developmnet</h3>
                        <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without coding.</p>
                        <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="feature-widget text-left rounded">
                    <div class="services-icon text-primary mb-3">
                        <i data-feather="feather" class="fea icon-md"></i>
                    </div>
                    <div class="services-texts">
                        <h3 class="title mb-3">Design & Planning</h3>
                        <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without coding.</p>
                        <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="feature-widget text-left rounded">
                    <div class="services-icon text-primary mb-3">
                        <i data-feather="disc" class="fea icon-md"></i>
                    </div>
                    <div class="services-texts">
                        <h3 class="title mb-3">Adobe Photoshop</h3>
                        <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without coding.</p>
                        <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="feature-widget text-left rounded">
                    <div class="services-icon text-primary mb-3">
                        <i data-feather="layout" class="fea icon-md"></i>
                    </div>
                    <div class="services-texts">
                        <h3 class="title mb-3">Digital marketing</h3>
                        <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without coding.</p>
                        <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="feature-widget text-left rounded">
                    <div class="services-icon text-primary mb-3">
                        <i data-feather="watch" class="fea icon-md"></i>
                    </div>
                    <div class="services-texts">
                        <h3 class="title mb-3">24 / 7</h3>
                        <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without coding.</p>
                        <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="feature-widget text-left rounded">
                    <div class="icon services-icon text-primary mb-3">
                        <i data-feather="target" class="fea icon-md"></i>
                    </div>
                    <div class="services-texts">
                        <h3 class="title mb-3">Graphic Designer</h3>
                        <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without coding.</p>
                        <a href="javascript:void(0)" class="text-primary">Read more <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
            </div>

        </div><!-- end row -->
    </div>
</section>
<!-- End Start -->