<!-- Testimonial Start -->
<section class="section bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="container-title text-center mb-4 pb-2">
                    <div class="titles">
                        <h2 class="title text-capitalize mb-4">Clients Say</h2>
                        <p class="pera-title para-desc-600 text-light-muted mb-0 mx-auto">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                        <span></span>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-12">
                <div class="client-review-slider">
                    <div class="tiny-slide">
                        <div class="client-review rounded shadow m-2">
                            <div class="align-items-center justify-content-start justify-content-sm-center">
                                <div class="col-sm-auto mb-4 mb-sm-0">
                                    <img class="img-fluid avatar avatar-xl" src="images/client/01.jpg" alt="">
                                </div>
                                <div class="col pl-lg-4 clt-section">
                                    <h5 class="clt-title mt-2 mb-2">Ralph Edwards</h5>
                                    <ul class="list-unstyled float-right mb-0">
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                </div>
                                <p class="pera-title text-light-muted mb-0 mt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                            </div>
                        </div>
                    </div>
                    <div class="tiny-slide">
                        <div class="client-review rounded shadow m-2">
                            <div class="align-items-center justify-content-start justify-content-sm-center">
                                <div class="col-sm-auto mb-4 mb-sm-0">
                                    <img class="img-fluid avatar avatar-xl" src="images/client/female-4.jpg" alt="">
                                </div>
                                <div class="col pl-lg-4 clt-section">
                                    <h5 class="clt-title mt-2 mb-2">Jenny Wilson</h5>
                                    <ul class="list-unstyled float-right mb-0">
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                </div>
                                <p class="pera-title text-light-muted mb-0 mt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                            </div>
                        </div>
                    </div>
                    <div class="tiny-slide">
                        <div class="client-review rounded shadow m-2">
                            <div class="align-items-center justify-content-start justify-content-sm-center">
                                <div class="col-sm-auto mb-4 mb-sm-0">
                                    <img class="img-fluid avatar avatar-xl" src="images/client/male-1.jpg" alt="">
                                </div>
                                <div class="col pl-lg-4 clt-section">
                                    <h5 class="clt-title mt-2 mb-2">Courtney Henry</h5>
                                    <ul class="list-unstyled float-right mb-0">
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                </div>
                                <p class="pera-title text-light-muted mb-0 mt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                            </div>
                        </div>
                    </div>
                    <div class="tiny-slide">
                        <div class="client-review rounded shadow m-2">
                            <div class="align-items-center justify-content-start justify-content-sm-center">
                                <div class="col-sm-auto mb-4 mb-sm-0">
                                    <img class="img-fluid avatar avatar-xl" src="images/client/female-3.jpg" alt="">
                                </div>
                                <div class="col pl-lg-4 clt-section">
                                    <h5 class="clt-title mt-2 mb-2">Esther Howard</h5>
                                    <ul class="list-unstyled float-right mb-0">
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                        <li class="list-inline-item text-warning"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                </div>
                                <p class="pera-title text-light-muted mb-0 mt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end container -->
</section>
<!--end section -->