<!-- Client Start -->
<section class="section fan-fact" style="background-image:url('images/bg-pattern.png')" id="about">
    <div class="container">
        <div class="row" id="counter">
            <div class="col-lg-3 col-6 my-3">
                <div class="card counter-box border-0 shadow text-center rounded py-3">
                    <div class="card-body py-5">
                        <h2 class="mb-0"><span class="counter-value" data-target="97">0</span>%</h2>
                        <h5 class="counter-head mb-0">Happy Client </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-6 my-3">
                <div class="card counter-box border-0 shadow text-center rounded py-3">
                    <div class="card-body py-5">
                        <h2 class="mb-0"><span class="counter-value" data-target="36">2</span> M </h2>
                        <h5 class="counter-head mb-0">Download </h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-6 my-3">
                <div class="card counter-box border-0 shadow text-center rounded py-3">
                    <div class="card-body py-5">
                        <h2 class="mb-0"><span class="counter-value" data-target="3261">30</span> + </h2>
                        <h5 class="counter-head mb-0">Happy Users </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-6 my-3">
                <div class="card counter-box border-0 shadow text-center rounded py-3">
                    <div class="card-body py-5">
                        <h2 class="mb-0"><span class="counter-value" data-target="39">1</span> + </h2>
                        <h5 class="counter-head mb-0">Years of expe. </h5>
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div><!--end container-->
</section>
<!-- End Section Client -->