<!-- Hero Area -->
<div class="hero-area position-relative bg-half-120" style="background-image:url('images/hero-bg.jpg')" id="home">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 align-items-center text-center">
                <div class="title-heading mt-4 pb-60">
                    <img src="images/pal.png" class="img-fluid rounded-circle" alt="">
                    <h1 class="heading font-36 text-white mt-4">Here I'am Queue Downey</h1>
                    <h6 class="designation mb-3 text-white">I'm a Passionate <span class="text-primary">Web Designer</span></h6>
                    <div class="hero-btn mt-4 pt-2">
                        <a href="javascript:void(0)" class="btn btn-primary rounded me-2 mb-2">Hire Me</a>
                        <a href="javascript:void(0)" class="btn btn-primary rounded text-white mb-2">Download CV <i data-feather="download" class="fea icon-sm"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>