<!-- Skill & CTA START -->
<section class="cta-full">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-4 padding-less img" style="background-image:url('images/skills.jpg')" data-jarallax='{"speed": 0.5}'></div><!-- end col -->
            <div class="col-lg-8 offset-lg-5">
                <div class="cta-full-img-box">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center mb-3">
                            <div class="container-title">
                                <div class="titles">
                                    <h4 class="title title-line text-capitalize mb-4">Work Expertise</h4>
                                </div>
                                <p class="text-light-muted mx-auto width-max mb-0">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->

                    <div class="row align-items-center">
                        <div class="col-lg-3 col-6 mt-4 pt-2">
                            <div class="card explore-feature border-0 text-center bg-white p-3">
                                <div class="card-body p-0">
                                    <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                        <img src="images/skills/bootstrap.svg" alt="" class="img-fluid mx-auto">
                                    </div>
                                    <span class="badge skill-badge badge-light">70%</span>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-3 col-6 mt-4 pt-2">
                            <div class="card explore-feature border-0 text-center bg-white p-3">
                                <div class="card-body p-0">
                                    <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                        <img src="images/skills/nodejs-icon.svg" alt="" class="img-fluid mx-auto">
                                    </div>
                                    <span class="badge skill-badge badge-light">55%</span>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-3 col-6 mt-4 pt-2">
                            <div class="card explore-feature border-0 text-center bg-white p-3">
                                <div class="card-body p-0">
                                    <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                        <img src="images/skills/react.svg" alt="" class="img-fluid mx-auto">
                                    </div>
                                    <span class="badge skill-badge badge-light">68%</span>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-3 col-6 mt-4 pt-2">
                            <div class="card explore-feature border-0 text-center bg-white p-3">
                                <div class="card-body p-0">
                                    <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                        <img src="images/skills/post_gray_sql.svg" alt="" class="img-fluid mx-auto">
                                    </div>
                                    <span class="badge skill-badge badge-light">75%</span>
                                </div>
                            </div>
                        </div><!--end col-->    
                    </div><!-- end row -->

                    <div class="row align-items-center">
                        <div class="col-lg-3 col-6 mt-4 pt-2">
                            <div class="card explore-feature border-0 text-center bg-white p-3">
                                <div class="card-body p-0">
                                    <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                        <img src="images/skills/amazons3.svg" alt="" class="img-fluid mx-auto">
                                    </div>
                                    <span class="badge skill-badge badge-light">80%</span>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-3 col-6 mt-4 pt-2">
                            <div class="card explore-feature border-0 text-center bg-white p-3">
                                <div class="card-body p-0">
                                    <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                        <img src="images/skills/android.svg" alt="" class="img-fluid mx-auto">
                                    </div>
                                    <span class="badge skill-badge badge-light">85%</span>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-3 col-6 mt-4 pt-2">
                            <div class="card explore-feature border-0 text-center bg-white p-3">
                                <div class="card-body p-0">
                                    <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                        <img src="images/skills/Angular.svg" alt="" class="img-fluid mx-auto">
                                    </div>
                                    <span class="badge skill-badge badge-light">70%</span>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-3 col-6 mt-4 pt-2">
                            <div class="card explore-feature border-0 text-center bg-white p-3">
                                <div class="card-body p-0">
                                    <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                        <img src="images/skills/mongodb.svg" alt="" class="img-fluid mx-auto">
                                    </div>
                                    <span class="badge skill-badge badge-light">65%</span>
                                </div>
                            </div>
                        </div><!--end col-->    
                    </div><!-- end row -->

                </div> <!-- end about detail -->
            </div> <!-- end col -->        
        </div><!--end row-->
    </div><!--end container fluid-->
</section><!--end section-->   
<!-- Skill & CTA End -->