<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "page-parts/head.html" . }}
  </head>
  <body>
    {{if eq site.Params.featuresToggles.preloader true}}
      {{ partial "page-parts/preloader.html" . }}
    {{ end }}
    <header>
      {{ partial "page-parts/navbar.html" . }}
    </header>
    <main>
      {{ partial "page-parts/home-content.html" . }}
    </main>
    <footer>
      {{ partial "page-parts/footer.html" . }}
    </footer>
    {{ partial "page-parts/back-to-top.html" . }}

    {{if eq site.Params.featuresToggles.styleSwitcher true}}
      {{ partial "page-parts/style-switcher.html" . }}
    {{ end }}
    {{ partial "page-parts/head/js.html" . }}
  </body>
</html>
