<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{if eq site.Params.featuresToggles.preloader true}}
      {{ partial "preloader.html" . }}
    {{ end }}
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <main>
      {{ partial "home-content.html" . }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
    {{ partial "back-to-top.html" . }}

    {{if eq site.Params.featuresToggles.styleSwitcher true}}
      {{ partial "style-switcher.html" . }}
    {{ end }}
    {{ partial "head/js.html" . }}
  </body>
</html>
