<!-- Blog Start -->
<section class="section bg-light" id="news">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="container-title text-center mb-4 pb-2">
                    <div class="titles">
                        <h2 class="title text-capitalize mb-4">Latest news & blog</h2>
                        <p class="pera-title para-desc-600 text-light-muted mb-0 mx-auto">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                        <span></span>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        
        <div class="row">    
            <div class="col-lg-4 col-md-6">
                <div class="blog-post rounded customer-testi m-1">
                    <div class="position-relative">
                        <img src="images/blog/1.jpg" class="img-fluid rounded-top" alt="">
                    </div>
                    <div class="content pt-4 pb-4 p-3">
                        <h5><a href="page-blog-detail.html" class="title text-dark">Design your apps in your own way</a></h5>
                        <p class="text-light-muted mb-3">This is required when, for example, the final text is not yet available.</p>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0 d-flex justify-content-between">
                                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-light-muted date"><i class="mdi mdi-calendar-edit me-1"></i>Dec 19</a></li>
                            </ul>
                            <a href="javascript:void(0)" class="text-muted readmore">Read More <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div><!--end content-->
                </div><!--end blog post-->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-post rounded customer-testi m-1">
                    <div class="position-relative">
                        <img src="images/blog/2.jpg" class="img-fluid rounded-top" alt="">
                    </div>
                    <div class="content pt-4 pb-4 p-3">
                        <h5><a href="page-blog-detail.html" class="title text-dark">How apps is changing the it world</a></h5>
                        <p class="text-light-muted mb-3">This is required when, for example, the final text is not yet available.</p>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0 d-flex justify-content-between">
                                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-light-muted date"><i class="mdi mdi-calendar-edit me-1"></i>Feb 12</a></li>
                            </ul>
                            <a href="javascript:void(0)" class="text-muted readmore">Read More <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div><!--end content-->
                </div><!--end blog post-->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-post rounded customer-testi m-1">
                    <div class="position-relative">
                        <img src="images/blog/3.jpg" class="img-fluid rounded-top" alt="">
                    </div>
                    <div class="content pt-4 pb-4 p-3">
                        <h5><a href="page-blog-detail.html" class="title text-dark">Smartest applications for business</a></h5>
                        <p class="text-light-muted mb-3">This is required when, for example, the final text is not yet available.</p>
                        <div class="post-meta d-flex justify-content-between mt-3">
                            <ul class="list-unstyled mb-0 d-flex justify-content-between">
                                <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)" class="text-light-muted date"><i class="mdi mdi-calendar me-1"></i>June 27</a></li>
                            </ul>
                            <a href="javascript:void(0)" class="text-muted readmore">Read More <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div><!--end content-->
                </div><!--end blog post-->
            </div>                        
        </div><!--end row-->
    </div><!--end container-->
</section>
<!--end section -->