{{ define "main" }}
<main class="homepage container py-6">
    <!-- Hero -->
    <div class="hero row">
        <div class="col position-relative py-lg-7{{ if not .Site.Params.homepageImage }} py-7{{ else }} pb-5{{ end }}">
            {{- with .Site.Params.homepageImage -}}
            <div class="homepage-image">
                <img src="{{ . | relURL }}" class="img-fluid">
            </div>
            {{- end -}}

            <h1 class="display-4">{{ .Site.Title }}</h1>
            {{- with .Site.Params.description -}}
            <h3 class="font-weight-normal">{{ . | safeHTML }}</h3>
            <!-- <p>&nbsp;</p> -->
            {{- end -}}

            <!-- Home content -->
            <div class="row">
                <div class="col-lg-6" align="justify">
                    {{.Content}}
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}