{{ define "main" }}
<main class="homepage container py-6">
    <!-- Hero -->
    <div class="hero row">
        <div class="col position-relative py-lg-7{{ if not .Site.Params.homepageImage }} py-7{{ else }} pb-5{{ end }}">
            {{- with .Site.Params.homepageImage -}}
            <div class="homepage-image">
                <img src="{{ . | relURL }}" class="img-fluid">
            </div>
            {{- end -}}

            <h1 class="display-4">{{ .Site.Title }}</h1>
            {{- with .Site.Params.description -}}
            <h3 class="font-weight-normal">{{ . | safeHTML }}</h3>
            <p>&nbsp;</p>
            {{- end -}}
        </div>
    </div>

    <!-- Home content -->
    <div class="latest row py-lg-5">
        <div class="col-lg-12" align="justify">
            {{.Content}}
        </div>
    </div>

    <!-- Articles -->
    <div class="article row">
        <h3>As minhas últimas publicações</h3>
        <div class="articles row row-cols-1 row-cols-lg-3">
            {{ range first 3 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
            <div class="col mb-3">
                {{ .Render "card" }}
            </div>
            {{ end }}
        </div>
    </div>
</main>
{{ end }}