
<p>{{$section:= .Get "section"}}</p>
<p>{{$background:=  .Get "background"}}</p>

{{ if .Site.Data.sections }}
  {{ $background:= "bg-white"}}
  {{ range sort .Site.Data.sections "section.weight" }}
	{{ if eq .section.name $section }}
		{{ if .section.enable }}
		  <div class="container-fluid section-holder d-flex bg-{{ $background }}">
			{{ if .section.template }}
			  {{- partial .section.template . -}}
			{{ else }}
			  {{- partial (printf "sections/%s.html" (replace (lower .section.name) " " "-")) . -}}
			{{ end }}
		  </div>
		{{ end }}
	{{ end }}
  {{ end }}
{{ end }}