// 
// portfolio file
// 
.work-container {
  .work-image {
    transform: scale(1.08) translateZ(0);
    &:hover {
      box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
      transform: scale(1.08) translateZ(0);
    }
  }
}
.filter-box {
  display: none;
  &.show {
    display: block;
  }
}

.work-container.work-modern {
  transition: -webkit-transform .28s ease;
  transition: transform .28s ease;
  transition: transform .28s ease,-webkit-transform .28s ease;
  box-shadow: -0.0625rem 0 0.625rem 0 rgba(0,0,0,0.07),0.3125rem 1.25rem 2.5rem 0 rgba(0,0,0,0.04) !important;
  .overlay-work {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    background-color: $primary;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,$primary),to($black));
    background-image: -webkit-linear-gradient($primary 10%,$black);
    background-image: linear-gradient($primary 10%,$black);
    position: absolute;
  }
  .content {
    z-index: 1;
    bottom: 5%;
    left: 5%;
    .title:hover {
      color: $white !important;
    }
  }
  .tag {
    font-size: 15px !important;
  }
  .icons {
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0;
  }
}

.work-container.work-modern img,
.work-container.work-modern .overlay-work,
.work-container.work-modern .content,
.work-container.work-modern .client,
.work-container.work-modern .read_more,
.work-container.work-modern .icons,
.work-container.work-modern .icons .work-icon {
  transition: all 0.5s ease;
}
  
.work-container.work-modern .overlay-work,
.work-container.work-modern .content,
.work-container.work-modern .client,
.work-container.work-modern .read_more,
.work-container.work-modern .icons {
  position: absolute;
}

.work-container.work-modern:hover img {
  transform: scale(1.13) translateZ(0);
  backface-visibility: hidden;
  transition: -webkit-transform .28s ease;
  transition: transform .28s ease;
  transition: transform .28s ease,-webkit-transform .28s ease;
}

.work-container.work-modern .content,
.work-container.work-modern .client {
  opacity: 0;
}

.work-container .content .title, 
.work-container.work-modern .content .title {
  font-size: 18px;
  transition: all 0.5s ease;
}

.work-container.work-modern .client,
.work-container.work-modern .read_more {
  z-index: 1;
  right: 5%;
  top: 5%;
}
  
.work-container.work-modern .read_more {
  height: 30px;
  width: 30px;
  line-height: 30px;
}
  
.work-container.work-modern {
  .icons  {
    .work-icon {
      height: 45px;
      width: 45px;
      line-height: 45px;
      &:hover {
        background: $white !important;
        color: $primary;
      }
    }
  }
}

.work-container.work-modern:hover {
  .overlay-work {
    opacity: 0.85;
  }
}
  
.work-container.work-modern:hover .icons {
  opacity: 1;
}
  
.work-container.work-modern:hover .content,
.work-container.work-modern:hover .client {
  opacity: 1;
}
  
.work-details ul li b {
  max-width: 90px;
  width: 100%;
  display: inline-block;
}

.container-filter li a {
  font-size: 13px;
  padding: 0px 15px;
  margin: 5px 3px;
  font-weight: 700;
  letter-spacing: 0.8px;
  cursor: pointer;
  line-height: 34px;
  transition: all 0.5s ease;
  &:hover,
  &.active {
    color: $primary !important;
    border-color: $primary !important;
  }
}
// portfolio details page
.work-details {
  padding: 1.5rem;
  border: 1px solid #dee2e6;
}